@use 'vuetify' with (
    $font-size-root: .9em,
    $body-font-family: 'Roboto Condensed'
    
);

*:link {
    color: rgb(4, 145, 67); // Change default link color
  }
  *:visited {
    color: rgb(19, 99, 3); // Change visited link color
  }

blockquote {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
    padding-left: 1em;
    border-left: .2em solid #ccc;
    font-size: 1.7em;
}

h2 {
    margin-top: 1em;
}

p {
    letter-spacing: .02em;
    font-size: 1.2em;
    line-height: 1.8em;
}

pre {
    margin-top: 1em;
    margin-bottom: 2em;
    margin-left: 1em;
    padding-left: 1em;
}

p code {
    font-family: 'Source Code Pro';
    background-color: #EEFEEE;
    margin: 0.2em;
}


table td, table th {
    padding: 1em;
}

ol, ul {
    margin-left: 1em;
    margin-top: 0.5em;
    margin-bottom: 1em;
}